@page "/"

<h1>Welcome to the chatapp created in Blazor</h1>
<p>Just a simple example of what blazor (and signalR can do)</p>

<a target="_blank" href="https://github.com/DinandDotNet/BlazorChatapp">You can see the source in this Github repository.</a>


